.app__calendar {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &--cal {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px;
    background-color: var(--color-dark-gray);
    &_tools {
      transition: 0.5s ease;
      cursor: pointer;
      display: flex;
      flex-flow: column wrap;
      .controls {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        .title.p__opensans {
          text-align: center;
        }
        .icon {
          font-size: 48px;
          color: var(--color-primary);
        }
      }
      .today {
        align-self: center;
        padding: 8px;
      }
    }
  }

  &--event {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-flow: column wrap;
    padding: 24px 16px;
    background-color: var(--color-primary);
    width: 280px;
    &-date {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-between;
      align-items: center;
      .day {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        h1.headtext__cormorant {
          color: var(--color-white);
          font-size: 72px;
        }
      }
    }
    &-details {
      h1.headtext__cormorant {
        color: var(--color-white);
        font-size: 24px;
      }
      .event-wrapper {
        .event {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          background-color: rgba(39, 16, 7, 0.42);
          padding: 4px 8px;
          margin-bottom: 8px;
          border-radius: 4px;
          .icon {
            color: var(--color-white);
            transition: 0.5s ease;
            opacity: 0.7;
            &:hover {
              opacity: 1;
              scale: 1.1;
            }
          }
          .data {
            padding: 4px 16px;
            width: 70%;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

// Large desktops

@media screen and (min-width: 1151px) {
  .app__calendar {
    &--cal {
      padding: 70px;
    }

    &--event {
      width: 580px;
      &-date {
        .day {
          h1.headtext__cormorant {
            font-size: 80px;
          }
        }
      }
      &-details {
        .event-wrapper {
          .event {
            .data {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
/* desktop*/
@media screen and (max-width: 1150px) {
  .app__calendar {
    &--cal {
      padding: 48px;
    }
    &--event {
      &-date {
        .day {
          h1.headtext__cormorant {
            font-size: 48px;
          }
        }
      }
    }
  }
}
// tablets down
@media screen and (max-width: 1240px) {
  .app__calendar {
    &--cal {
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &--event {
      width: 100%;
      padding: 32px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

// small screens
@media screen and (max-width: 650px) {
}
//phones
@media screen and (max-width: 380px) {
  .app__calendar {
    &--cal {
      width: 100%;
    }

    &--event {
      width: 100%;
      &-date {
        .day {
          h1.headtext__cormorant {
            font-size: 48px;
          }
        }
      }
    }
  }
}
