.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.glassmorphism {
  text-transform: uppercase;
  background: rgba(241, 91, 37, 0.15);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}

.custom__hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(252, 252, 252, 0.65),
    rgba(252, 252, 252, 0.25),
    rgba(252, 252, 252, 0)
  );
  margin: 8px 0;
}

.custom__button--dark {
  transition: 0.5s ease;
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(39, 16, 7, 0.42);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);

  &:hover {
    background-color: rgba(39, 16, 7, 0.62);
    -webkit-backdrop-filter: blur(34px);
    backdrop-filter: blur(34px);
    color: var(--color-crimson);
    scale: 1.1;
  }
}

.custom__button {
  transition: 0.5s ease;
  color: var(--color-primary);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(241, 91, 37, 0.15);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);

  &:hover {
    background: rgba(241, 91, 37, 0.4);
    -webkit-backdrop-filter: blur(34px);
    backdrop-filter: blur(34px);
    color: var(--color-crimson);
    scale: 1.1;
  }
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-primary);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 120px;
}

::-webkit-scrollbar {
  width: 8px;
  transition: 0.5s ease;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  transition: 0.5s ease;
  background: rgba(241, 91, 37, 0.39);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
@media screen and (min-width: 2000px) {
  .custom__button,
  .custom__button--dark .p__cormorant {
    font-size: 32px;
    line-height: 64px;
  }

  .p__opensans {
    font-size: 24px;
    line-height: 56px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 64px;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 64px 32px;
  }

  .p__cormorant {
    font-size: 24px;
  }

  .p__opensans {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .custom__button,
  .custom__button--dark,
  .p__cormorant,
  .p__opensans {
    font-size: 16px;
    line-height: 24px;
  }

  .headtext__cormorant {
    font-size: 48px;
    line-height: 70px;
  }
}
